.style
{
background-color:wheat;
}
.table2
{
background-color:sandybrown;
margin:30px;
text-align:center;
padding:50px;
}

.table3
{
background-color:yellow;
width:100%;
font-family:Segoe Print;
display:inline-flex;
gap:30px
}

.align
{
display:inline-flex;
gap:20px;
}

.table4
{
background-color:sandybrown;
width:150px;
height:150px;
text-align:center;
font-size:30;
padding:20px;
line-height:150px;
}

.table5
{
background-color:sandybrown;
width:150px;
height:150px;
text-align:center;
font-size:30;
padding:20px;
line-height:150px;
}

.table6
{
background-color:sandybrown;
width:150px;
height:150px;
text-align:center;
font-size:30;
padding:20px;
line-height:150px;
}
hr
{

border-top:3px dotted;
width:95%;
}
.start
{
margin:30px;
}