<html>
<head><title>Hello World session</title>
<body style="background-color:powderblue">
<center>
<h1 style="font-family:Times New Roman;color:blue">Hello world!</h1>
<h2 style="font-family:Times New Roman;color:blue">Welcome to my first webpage</h2>
</center>
<p style="font-family:Constantia;color:red;font-size:20">skoolofcode- Web development is so much of fun :)</p>
<center>
<p style="font-family:Segoe Print;color:red;font-size:30">This is my first webpage and i enjoyed building it a lot<p>
<p style="font-family:Segoe Print;color:red;font-size:30">I am going to build few more intresting webpages now!</p>
<p style="font-family:Segoe Print;color:red;font-size:30">stay tuned</p>
</center>
</body>
</html>
