{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{%static 'login.css'%}">
    <style> 
        input {
          width: 50%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          border-bottom: 2px solid grey;
        }
        </style>

</head>
<body>
    <div>
    <div class="login">
        <div style="padding-top: 20%">
        <h3 >SIGN IN</h3>
        <p style="color: darkgray;">with gmail account</p>

        <form name="myForm"  action="" method="POST"> {% csrf_token %}
            <p><label style="font-size: 20px;">Email ID:</label>
        <img src="{% static '/images/user.png' %}" width="30px">
        <input type ="email"  placeholder="Enter Email" name="email"></p>
        
        <p><label style="font-size: 20px;"> Password: </label>
        <img src="{% static '/images/password.png' %}" width="30px">
        <input type ="password"  placeholder="Enter Password" name="pwd" ></p>
        <br><br>
        <p style="color: red;display: flex;justify-content: space-evenly;">Forget Password? 
             <button style="width: 30%;height: 30px; ">Login</button></p>
             
             <br>
        
          
        </form>      
        <center><a href="{%url 'samp18'%}"><button style="width: 30%;height: 30px; background:red " >Sign UP</a></button></center>
        
    </div>
</div>


    <div class="color">
        <p>Welcome to</p>
        <h1>SHEPHERDING</h1>
        <p>Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus col. </p>
        <p>Commodo id in arcu ante lorem ipsum sed accumsan erat praesent faucibus commodo ac mi lacus."</p>
        <p>Vis aliquet tortor ultricies non ante erat nunc integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. </p>
        <p>Adipiscing cubilia elementum.</p>
        <p> Adipiscing mi ac commodo. </p>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
    swal('{{ msg }}');
    {% endfor %}    
</script>

    
</body>
</html>